{% extends "base.html" %}

{% block title %}Autores{% endblock %}

{% block content %}
<div class="content">
    <h1>Autores</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Discografia/Programas</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author[0] }}</td>
                <td>{{ author[1] }}</td>
                <td>{{ author[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="section-title">Añador Autor</h2>
    <form method="POST" action="/authors/add">
        <label for="nombre_autor">Nombre del autor:</label>
        <input type="text" id="nombre_autor" name="nombre_autor" required>
        
        <label for="discografia">Discografia (opcional):</label>
        <textarea id="discografia" name="discografia"></textarea>
        
        <button type="submit">Añadir Autor</button>
    </form>

    <h2 class="section-title">Borrar Autor</h2>
    <form method="POST" action="/authors/delete">
        <label for="id_autor">Autor ID:</label>
        <input type="number" id="id_autor" name="id_autor" required>
        
        <button type="submit">Borrar Autor</button>
    </form>

    <h2 class="section-title">Actualizar Autor</h2>
    <form method="POST" action="/authors/update">
        <label for="id_autor">Autor ID:</label>
        <input type="number" id="id_autor" name="id_autor" required>
        
        <label for="nombre_autor">Nuevo nombre del autor (Opcional):</label>
        <input type="text" id="nombre_autor" name="nombre_autor">
        
        <label for="discografia">Nueva Discografia (Opcional):</label>
        <textarea id="discografia" name="discografia"></textarea>
        
        <button type="submit">Actualizar Autor</button>
    </form>

        
    <h2 class="section-title">Añadir autores a grupos</h2>
    <form method="POST" action="/grupos/add_authors">
        <label for="id_autores">Autor IDs (separado por comas):</label>
        <input type="text" id="id_autores" name="id_autores" placeholder="e.g., 1, 2, 3" required>

        <label for="nombre_grupo">Nombre del grupo:</label>
        <input type="text" id="nombre_grupo" name="nombre_grupo" required>

        <button type="submit">Añadir autor a grupo</button>
    </form>

    <h2 class="section-title">Añadir Autor a Artista</h2>
    <form method="POST" action="/artistas/add_author">
        <label for="id_autor">Autor ID:</label>
        <input type="number" id="id_autor" name="id_autor" required>

        <button type="submit">Añadir Autor a Artista</button>
    </form>

    <h2 class="section-title">Añadir Autor a Host</h2>
    <form method="POST" action="/hosts/add_author">
        <label for="id_autor">Autor ID:</label>
        <input type="number" id="id_autor" name="id_autor" required>

        <button type="submit">Añadir Autor a Host</button>
    </form>


</div>
{% endblock %}