{% extends "base.html" %}

{% block title %}Grupos{% endblock %}

{% block content %}
<div class="content">
  <h1>Groups</h1>
  <table>
      <thead>
          <tr>
              <th>Authr ID</th>
              <th>Nombre del Grupo</th>
          </tr>
      </thead>
      <tbody>
          {% for grupo in grupos %}
          <tr>
              <td>{{ grupo[0] }}</td>
              <td>{{ grupo[1] }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <h2 class="section-title">Borrar Grupo</h2>
    <form method="POST" action="/grupos/delete">
        <label for="nombre_grupo">Nombre del grupo:</label>
        <input type="text" id="nombre_grupo" name="nombre_grupo" required>
        
        <button type="submit">Delete Group</button>
    </form>
</div>
{% endblock %}